    <HTML><HEAD><TITLE></TITLE>
    <META content="text/html; charset=windows-1252" http-equiv=Content-Type>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    </HEAD>
    <script language="javascript">
    var newwindow;
    function getRate()
    {
    newwindow=window.open('http://www.oanda.com/convert/classic?user=transoanda','','left=10,top=10,width=500,height=450,resizable=no,scrollbars=no');
    return false;
    }

    function getVoucher()
    {
	newwindow=window.open('https://pasteandpay.com/');
	return false;
    }

    function showCCID()
    {
    newwindow=window.open('/icici/ccidHelp.jsp','','left=10,top=10,width=400,height=350,resizable=no,scrollbars=no');
    return false;
    }

    /*
    function checkPaste(code)
    {
    if (document.layers)
    return true;
    else{
    var which = event.keyCode;
    if (event.ctrlKey && which==86){
    alert('paste on '+code);
    event.cancelBubble = true, event.returnValue = true;  return true;
    }
    }
    }
    */

    function pasted(code)
    {
    if (document.layers)
    return true;
    else{
    if(code=='CCCP')
    document.mainForm.CCCP.value='Y';
    if(code=='NAMECP')
    document.mainForm.NAMECP.value='Y';
    if(code=='ADDRCP')
    document.mainForm.ADDRCP.value='Y';
    return true;
    }
    }

function checkNotEmpty()
{
    var message="";
    var focus="f";
    if(document.mainForm.PAN.value.length == 0){
    message=message+"Please enter Id.\n";
    if(focus!="t"){
    document.mainForm.PAN.focus();
    focus="t";
    }
    }
    if (document.mainForm.street.value.length == 0){
    message=message+"Please enter Street.\n";
    if(focus!="t"){
    document.mainForm.street.focus();
    focus="t";
    }
    }
    if (document.mainForm.city.value.length == 0){
    message=message+"Please enter City.\n";
    if(focus!="t"){
    document.mainForm.city.focus();
    focus="t";
    }
    }
    if (document.mainForm.state.value.length == 0){
    message=message+"Please enter State.\n";
    if(focus!="t"){
    document.mainForm.state.focus();
    focus="t";
    }
    }
    if (document.mainForm.zip.value.length == 0){
    message=message+"Please enter Zip.\n";
    if(focus!="t"){
    document.mainForm.zip.focus();
    focus="t";
    }
    }

    var vartelnocc = document.mainForm.telnocc;
    var vartelno = document.mainForm.telno;

    if((isNaN(vartelnocc.value))||vartelnocc.value.length==0){
    message=message+"Please Enter a Numeric value for country code.\n";
    if(focus!="t"){
    vartelnocc.focus();
    focus="t";
    }
    }
    if((isNaN(vartelno.value))||vartelno.value.length==0){
    message=message+"Please Enter a Numeric value in the Tel. number.\n";
    if(focus!="t"){
    vartelno.focus();
    focus="t";
    }
    }
    if (document.mainForm.emailaddr.value.length == 0){
    message=message+"Please enter Email Address.\n";
    if(focus!="t"){
    document.mainForm.emailaddr.focus();
    focus="t";
    }
    }
    if(focus=="t"){
    alert(message);
    return false;
    }else
    return true;
}

function CardCheck()
{
    var ptr = document.mainForm.PAN ;
    Chk=parseInt(ptr.value.substring(0,1));
    Chk1=ptr.value.length;

    if((isNaN(ptr.value))||ptr.value.length==0){
    alert('Please Enter a Numeric value in the Card Number');
    ptr.value='';
    ptr.focus();
    return false;
    }
    NumStr = parseInt(ptr.value).toString();
    NumLen = NumStr.length;
    if((Chk==3 && NumLen!=14 && Chk1!=NumLen)||(Chk!=3 && NumLen!=16 && Chk1!=NumLen)){
    alert('Please Enter a Numeric value in the Card Number');
    ptr.focus();
    ptr.value='';
    return false;
    }

    if((Chk==3 && Chk1!=14)||(Chk!=3 && Chk1<16)||(NumStr <0)){
    alert('Please enter the card number correctly');
    ptr.focus();
    ptr.value='';
    return false;
    }
    if(!checkNotEmpty())
    return false;
    else
    return true;
}
var flag = '0';
function submitForm(actionurl)
{
      

//    if(!CardCheck()) 
//        return false;
//    else 
    if(flag == '0'){
    flag = '1' ;
//        var ptr = document.mainForm.PAN ;
//        Chk=parseInt(ptr.value.substring(0,1));
    //for live template use this

    document.mainForm.action=actionurl;

    //for test on dev use this
    // document.mainForm.action=actionurl;

    document.mainForm.method="post";
    document.mainForm.target="_self";
    //newwindow.close();

    //below line may be reason for double submit so commented.
        //document.mainForm.submit();  
    return true;
    }else
    return false;
}

function cancelForm()
{
    document.mainForm.action="";
    document.mainForm.method="post";
    document.mainForm.target="_self";
    document.mainForm.submit();
}

</script>
<BODY aLink=#000080 leftMargin=0 link=#003399
topMargin=0 vLink=#800080 marginheight="0" marginwidth="0" bgcolor="<#BGCOLOR#>" text="<#TEXTCOLOR#>" background="<#BACKGROUND#>">
<center><br><br><center><table><tr><td align=center><#HEADER#></td></tr></table></center></center>
<FORM name="mainForm" METHOD="POST" ACTION="">
<input type="hidden" value="<#ctoken#>" name="ctoken">
<p>&nbsp;</p>
<div align="center">
    <center>
    <table border="0" cellpadding="0" cellspacing="0" width="80%">
    <tr>
    <td width="100%"><font face="<#FONTFACE#>" size="2"><b>Payment Details</b></font></td>
    </tr>
    <tr>
    <td width="100%" bgcolor="#000000" height="1"><IMG height=1 src="/icici/images/1ptrans.gif" width=1></td>
    </tr>
    </table>
    </center>
</div>
<div align="center">

    <table border="0" cellpadding="5" cellspacing="0" width="80%">
    <tr>
    <td width="100%" colspan="2"><font face="<#FONTFACE#>" size="2">This
    payment will be processed. This is a Secure Connection and
    your information is secure and private.</font></td>
    </tr>
    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2">Tracking Id</font>:</b></p></td>
    <center>
    <td><font face="<#FONTFACE#>" size="2"><#TRACKING_ID#></font></td>
    </tr>
    <tr>
    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2">Description</font>:</b></p></td>
    <center>
    <td><font face="<#FONTFACE#>" size="2"><#DESCRIPTION#></font></td>
    </tr>
    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2">Order
    Description</font>:</b></p></td>
    <center>
    <td><font face="<#FONTFACE#>" size="2"><#ORDER_DESCRIPTION#></font></td>
    </tr>
    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2">Amount</font>:</b></p></td>
    <td><font face="<#FONTFACE#>" size="2"><#TMPL_CUSTOMISE#></font><font face="<#FONTFACE#>" size="1">&nbsp;<#TMPL_MSG#><br>
    <A href="" onclick="return getRate()">Click here to get an approximate conversion to your currency</a></font></td>
    </tr>
     <tr>
    <td><b><font face="<#FONTFACE#>" size="2" >You can Register or Login here to get the Vouchers</font>&nbsp;</b></td>
    <td><A href="" onclick="return getVoucher()">Get Vouchers </a></td>
    </tr>

    <tr>
    <td colspan="2">
    <font face="<#FONTFACE#>" size="2">Enter your Voucher Account Details</font></td>
    </tr>

    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2" >First Name</font>:</b></p></td>
    <td><input name="firstname" size="30" value=""  onpaste="return pasted('NAMECP');"></td>
    </tr>
    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2" >Last Name</font>:</b></p></td>
    <td><input name="lastname" size="30" value=""  ></td>
    </tr>

    <tr>
    <td>
     <p align="right"><b><font face="<#FONTFACE#>" size="2"> Voucher Number</font>:</b></p></td>
    <center>
    <td><input name="PAN" size="30" onpaste="return pasted('CCCP');" autocomplete="OFF" value="" ></td>

    </tr>

    <tr>
    <td colspan="2"><font face="<#FONTFACE#>" size="2">Billing
    Address (where you receive your bills)</font></td>
    </tr>
    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2" >Street</font>:</b></p></td>
    <td><input name="street" size="30" value="<#TMPL_street#>" onpaste="return pasted('ADDRCP');" ></td>
    </tr>
    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2">City</font>:</b></p></td>
    <td><input name="city" size="30" value="<#TMPL_city#>"></td>
    </tr>
    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2">State</font>:</b></p></td>
    <td><input name="state" size="30" value="<#TMPL_state#>"></td>
    </tr>
    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2">Zip</font>:</b></p></td>
    <td><input name="zip" size="30" maxlength="10" value="<#TMPL_zip#>"></td>
    </tr>
    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2">Country</font>:</b></p></td>
    <td>
    <select name="country" >
    <option value="">Select a Country</option>
    <option value="AF" <#TMPL_AF#> >Afghanistan</option>
    <option value="AL" <#TMPL_AL#> >Albania</option>
    <option value="DZ" <#TMPL_DZ#> >Algeria</option>
    <option value="AS" <#TMPL_AS#> >American Samoa</option>
    <option value="AD" <#TMPL_AD#> >Andorra</option>
    <option value="AO" <#TMPL_AO#> >Angola</option>
    <option value="AI" <#TMPL_AI#> >Anguilla</option>
    <option value="AQ" <#TMPL_AQ#> >Antarctica</option>
    <option value="AG" <#TMPL_AG#> >Antigua And Barbuda</option>
    <option value="AR" <#TMPL_AR#> >Argentina</option>
    <option value="AM" <#TMPL_AM#> >Armenia</option>
    <option value="AW" <#TMPL_AW#> >Aruba</option>
    <option value="AU" <#TMPL_AU#> >Australia</option>
    <option value="AT" <#TMPL_AT#> >Austria</option>
    <option value="AZ" <#TMPL_AZ#> >Azerbaijan</option>
    <option value="BS" <#TMPL_BS#> >Bahamas, The</option>
    <option value="BH" <#TMPL_BH#> >Bahrain</option>
    <option value="BD" <#TMPL_BD#> >Bangladesh</option>
    <option value="BB" <#TMPL_BB#> >Barbados</option>
    <option value="BY" <#TMPL_BY#> >Belarus</option>
    <option value="BE" <#TMPL_BE#> >Belgium</option>
    <option value="BZ" <#TMPL_BZ#> >Belize</option>
    <option value="BJ" <#TMPL_BJ#> >Benin</option>
    <option value="BM" <#TMPL_BM#> >Bermuda</option>
    <option value="BT" <#TMPL_BT#> >Bhutan</option>
    <option value="BO" <#TMPL_BO#> >Bolivia</option>
    <option value="BA" <#TMPL_BA#> >Bosnia and Herzegovina</option>
    <option value="BW" <#TMPL_BW#> >Botswana</option>
    <option value="BV" <#TMPL_BV#> >Bouvet Island</option>
    <option value="BR" <#TMPL_BR#> >Brazil</option>
    <option value="IO" <#TMPL_IO#> >British Indian Ocean Territory</option>
    <option value="BN" <#TMPL_BN#> >Brunei</option>
    <option value="BG" <#TMPL_BG#> >Bulgaria</option>
    <option value="BF" <#TMPL_BF#> >Burkina Faso</option>
    <option value="BI" <#TMPL_BI#> >Burundi</option>
    <option value="KH" <#TMPL_KH#> >Cambodia</option>
    <option value="CM" <#TMPL_CM#> >Cameroon</option>
    <option value="CA" <#TMPL_CA#> >Canada</option>
    <option value="CV" <#TMPL_CV#> >Cape Verde</option>
    <option value="KY" <#TMPL_KY#> >Cayman Islands</option>
    <option value="CF" <#TMPL_CF#> >Central African Republic</option>
    <option value="TD" <#TMPL_TD#>  >Chad</option>
    <option value="CL" <#TMPL_CL#> >Chile</option>
    <option value="CN" <#TMPL_CN#> >China</option>
    <option value="CX" <#TMPL_CX#> >Christmas Island</option>
    <option value="CC" <#TMPL_CC#> >Cocos (Keeling) Islands</option>
    <option value="CO" <#TMPL_CO#> >Colombia</option>
    <option value="KM" <#TMPL_KM#> >Comoros</option>
    <option value="CG" <#TMPL_CG#> >Congo</option>
    <option value="CD" <#TMPL_CD#> >Congo, Democractic Republic of the</option>
    <option value="CK" <#TMPL_CK#> >Cook Islands</option>
    <option value="CR" <#TMPL_CR#> >Costa Rica</option>
    <option value="CI" <#TMPL_CI#> >Cote D''Ivoire (Ivory Coast)</option>
    <option value="HR" <#TMPL_HR#> >Croatia (Hrvatska)</option>
    <option value="CU" <#TMPL_CU#> >Cuba</option>
    <option value="CY" <#TMPL_CY#> >Cyprus</option>
    <option value="CZ" <#TMPL_CZ#> >Czech Republic</option>
    <option value="DK" <#TMPL_DK#> >Denmark</option>
    <option value="DJ" <#TMPL_DJ#> >Djibouti</option>
    <option value="DM" <#TMPL_DM#> >Dominica</option>
    <option value="DO" <#TMPL_DO#> >Dominican Republic</option>
    <option value="TP" <#TMPL_TP#> >East Timor</option>
    <option value="EC" <#TMPL_EC#> >Ecuador</option>
    <option value="EG" <#TMPL_EG#> >Egypt</option>
    <option value="SV" <#TMPL_SV#> >El Salvador</option>
    <option value="GQ" <#TMPL_GQ#> >Equatorial Guinea</option>
    <option value="ER" <#TMPL_ER#> >Eritrea</option>
    <option value="EE" <#TMPL_EE#> >Estonia</option>
    <option value="ET" <#TMPL_ET#> >Ethiopia</option>
    <option value="FK" <#TMPL_FK#> >Falkland Islands (Islas Malvinas)</option>
    <option value="FO" <#TMPL_FO#> >Faroe Islands</option>
    <option value="FJ" <#TMPL_FJ#> >Fiji Islands</option>
    <option value="FI" <#TMPL_FI#> >Finland</option>
    <option value="FR" <#TMPL_FR#> >France</option>
    <option value="GF" <#TMPL_GF#> >French Guiana</option>
    <option value="PF" <#TMPL_PF#> >French Polynesia</option>
    <option value="TF" <#TMPL_TF#> >French Southern Territories</option>
    <option value="GA" <#TMPL_GA#> >Gabon</option>
    <option value="GM" <#TMPL_GM#> >Gambia, The</option>
    <option value="GE" <#TMPL_GE#> >Georgia</option>
    <option value="DE" <#TMPL_DE#> >Germany</option>
    <option value="GH" <#TMPL_GH#> >Ghana</option>
    <option value="GI" <#TMPL_GI#> >Gibraltar</option>
    <option value="GR" <#TMPL_GR#> >Greece</option>
    <option value="GL" <#TMPL_GL#> >Greenland</option>
    <option value="GD" <#TMPL_GD#> >Grenada</option>
    <option value="GP" <#TMPL_GP#> >Guadeloupe</option>
    <option value="GU" <#TMPL_GU#> >Guam</option>
    <option value="GT" <#TMPL_GT#> >Guatemala</option>
    <option value="GN" <#TMPL_GN#> >Guinea</option>
    <option value="GW" <#TMPL_GW#> >Guinea-Bissau</option>
    <option value="GY" <#TMPL_GY#> >Guyana</option>
    <option value="HT" <#TMPL_HT#> >Haiti</option>
    <option value="HM" <#TMPL_HM#> >Heard and McDonald Islands</option>
    <option value="HN" <#TMPL_HN#> >Honduras</option>
    <option value="HK" <#TMPL_HK#> >Hong Kong S.A.R.</option>
    <option value="HU" <#TMPL_HU#> >Hungary</option>
    <option value="IS" <#TMPL_IS#> >Iceland</option>
    <option value="IN" <#TMPL_IN#> >India</option>
    <option value="ID" <#TMPL_ID#> >Indonesia</option>
    <option value="IR" <#TMPL_IR#> >Iran</option>
    <option value="IQ" <#TMPL_IQ#> >Iraq</option>
    <option value="IE" <#TMPL_IE#> >Ireland</option>
    <option value="IL" <#TMPL_IL#> >Israel</option>
    <option value="IT" <#TMPL_IT#> >Italy</option>
    <option value="JM" <#TMPL_JM#> >Jamaica</option>
    <option value="JP" <#TMPL_JP#> >Japan</option>
    <option value="JO" <#TMPL_JO#> >Jordan</option>
    <option value="KZ" <#TMPL_KZ#> >Kazakhstan</option>
    <option value="KE" <#TMPL_KE#> >Kenya</option>
    <option value="KI" <#TMPL_KI#> >Kiribati</option>
    <option value="KR" <#TMPL_KR#> >Korea</option>
    <option value="KP" <#TMPL_KP#> >Korea, North</option>
    <option value="KW" <#TMPL_KW#> >Kuwait</option>
    <option value="KG" <#TMPL_KG#> >Kyrgyzstan</option>
    <option value="LA" <#TMPL_LA#> >Laos</option>
    <option value="LV" <#TMPL_LV#> >Latvia</option>
    <option value="LB" <#TMPL_LB#> >Lebanon</option>
    <option value="LS" <#TMPL_LS#> >Lesotho</option>
    <option value="LR" <#TMPL_LR#> >Liberia</option>
    <option value="LY" <#TMPL_LY#> >Libya</option>
    <option value="LI" <#TMPL_LI#> >Liechtenstein</option>
    <option value="LT" <#TMPL_LT#> >Lithuania</option>
    <option value="LU" <#TMPL_LU#> >Luxembourg</option>
    <option value="MO" <#TMPL_MO#> >Macau S.A.R.</option>
    <option value="MK" <#TMPL_MK#> >Macedonia, Former Yugoslav Republic of</option>
    <option value="MG" <#TMPL_MG#> >Madagascar</option>
    <option value="MW" <#TMPL_MW#> >Malawi</option>
    <option value="MY" <#TMPL_MY#> >Malaysia</option>
    <option value="MV" <#TMPL_MV#> >Maldives</option>
    <option value="ML" <#TMPL_ML#> >Mali</option>
    <option value="MT" <#TMPL_MT#> >Malta</option>
    <option value="MH" <#TMPL_MH#> >Marshall Islands</option>
    <option value="MQ" <#TMPL_MQ#> >Martinique</option>
    <option value="MR" <#TMPL_MR#> >Mauritania</option>
    <option value="MU" <#TMPL_MU#> >Mauritius</option>
    <option value="YT" <#TMPL_YT#> >Mayotte</option>
    <option value="MX" <#TMPL_MX#> >Mexico</option>
    <option value="FM" <#TMPL_FM#> >Micronesia</option>
    <option value="MD" <#TMPL_MD#> >Moldova</option>
    <option value="MC" <#TMPL_MC#> >Monaco</option>
    <option value="MN" <#TMPL_MN#> >Mongolia</option>
    <option value="MS" <#TMPL_MS#> >Montserrat</option>
    <option value="MA" <#TMPL_MA#> >Morocco</option>
    <option value="MZ" <#TMPL_MZ#> >Mozambique</option>
    <option value="MM" <#TMPL_MM#> >Myanmar</option>
    <option value="NA" <#TMPL_NA#> >Namibia</option>
    <option value="NR" <#TMPL_NR#> >Nauru</option>
    <option value="NP" <#TMPL_NP#> >Nepal</option>
    <option value="AN" <#TMPL_AN#> >Netherlands Antilles</option>
    <option value="NL" <#TMPL_NL#> >Netherlands, The</option>
    <option value="NC" <#TMPL_NC#> >New Caledonia</option>
    <option value="NZ" <#TMPL_NZ#> >New Zealand</option>
    <option value="NI" <#TMPL_NI#> >Nicaragua</option>
    <option value="NE" <#TMPL_NE#> >Niger</option>
    <option value="NG" <#TMPL_NG#> >Nigeria</option>
    <option value="NU" <#TMPL_NU#> >Niue</option>
    <option value="NF" <#TMPL_NF#> >Norfolk Island</option>
    <option value="MP" <#TMPL_MP#> >Northern Mariana Islands</option>
    <option value="NO" <#TMPL_NO#> >Norway</option>
    <option value="OM" <#TMPL_OM#> >Oman</option>
    <option value="PK" <#TMPL_PK#> >Pakistan</option>
    <option value="PW" <#TMPL_PW#> >Palau</option>
    <option value="PA" <#TMPL_PA#> >Panama</option>
    <option value="PG" <#TMPL_PG#> >Papua new Guinea</option>
    <option value="PY" <#TMPL_PY#> >Paraguay</option>
    <option value="PE" <#TMPL_PE#> >Peru</option>
    <option value="PH" <#TMPL_PH#> >Philippines</option>
    <option value="PN" <#TMPL_PN#> >Pitcairn Island</option>
    <option value="PL" <#TMPL_PL#> >Poland</option>
    <option value="PT" <#TMPL_PT#> >Portugal</option>
    <option value="PR" <#TMPL_PR#> >Puerto Rico</option>
    <option value="QA" <#TMPL_QA#> >Qatar</option>
    <option value="RE" <#TMPL_RE#> >Reunion</option>
    <option value="RO" <#TMPL_RO#> >Romania</option>
    <option value="RU" <#TMPL_RU#> >Russia</option>
    <option value="RW" <#TMPL_RW#> >Rwanda</option>
    <option value="SH" <#TMPL_SH#> >Saint Helena</option>
    <option value="KN" <#TMPL_KN#> >Saint Kitts And Nevis</option>
    <option value="LC" <#TMPL_LC#> >Saint Lucia</option>
    <option value="PM" <#TMPL_PM#> >Saint Pierre and Miquelon</option>
    <option value="VC" <#TMPL_VC#> >Saint Vincent And The Grenadines</option>
    <option value="WS" <#TMPL_WS#> >Samoa</option>
    <option value="SM" <#TMPL_SM#> >San Marino</option>
    <option value="ST" <#TMPL_ST#> >Sao Tome and Principe</option>
    <option value="SA" <#TMPL_SA#> >Saudi Arabia</option>
    <option value="SN" <#TMPL_SN#> >Senegal</option>
    <option value="SC" <#TMPL_SC#> >Seychelles</option>
    <option value="SL" <#TMPL_SL#> >Sierra Leone</option>
    <option value="SG" <#TMPL_SG#> >Singapore</option>
    <option value="SK" <#TMPL_SK#> >Slovakia</option>
    <option value="SI" <#TMPL_SI#> >Slovenia</option>
    <option value="SB" <#TMPL_SB#> >Solomon Islands</option>
    <option value="SO" <#TMPL_SO#> >Somalia</option>
    <option value="ZA" <#TMPL_ZA#> >South Africa</option>
    <option value="GS" <#TMPL_GS#> >South Georgia And The South Sandwich Islands</option>
    <option value="ES" <#TMPL_ES#> >Spain</option>
    <option value="LK" <#TMPL_LK#> >Sri Lanka</option>
    <option value="SD" <#TMPL_SD#> >Sudan</option>
    <option value="SR" <#TMPL_SR#> >Suriname</option>
    <option value="SJ" <#TMPL_SJ#> >Svalbard And Jan Mayen Islands</option>
    <option value="SZ" <#TMPL_SZ#> >Swaziland</option>
    <option value="SE" <#TMPL_SE#> >Sweden</option>
    <option value="CH" <#TMPL_CH#> >Switzerland</option>
    <option value="SY" <#TMPL_SY#> >Syria</option>
    <option value="TW" <#TMPL_TW#> >Taiwan</option>
    <option value="TJ" <#TMPL_TJ#> >Tajikistan</option>
    <option value="TZ" <#TMPL_TZ#> >Tanzania</option>
    <option value="TH" <#TMPL_TH#> >Thailand</option>
    <option value="TG" <#TMPL_TG#> >Togo</option>
    <option value="TK" <#TMPL_TK#> >Tokelau</option>
    <option value="TO" <#TMPL_TO#> >Tonga</option>
    <option value="TT" <#TMPL_TT#> >Trinidad And Tobago</option>
    <option value="TN" <#TMPL_TN#> >Tunisia</option>
    <option value="TR" <#TMPL_TR#> >Turkey</option>
    <option value="TM" <#TMPL_TM#> >Turkmenistan</option>
    <option value="TC" <#TMPL_TC#> >Turks And Caicos Islands</option>
    <option value="TV" <#TMPL_TV#> >Tuvalu</option>
    <option value="UG" <#TMPL_UG#> >Uganda</option>
    <option value="UA" <#TMPL_UA#> >Ukraine</option>
    <option value="AE" <#TMPL_AE#> >United Arab Emirates</option>
    <option value="UK" <#TMPL_UK#> >United Kingdom</option>
    <option value="US" <#TMPL_US#> >United States</option>
    <option value="UM" <#TMPL_UM#> >United States Minor Outlying Islands</option>
    <option value="UY" <#TMPL_UY#> >Uruguay</option>
    <option value="UZ" <#TMPL_UZ#> >Uzbekistan</option>
    <option value="VU" <#TMPL_VU#> >Vanuatu</option>
    <option value="VA" <#TMPL_VA#> >Vatican City State (Holy See)</option>
    <option value="VE" <#TMPL_VE#> >Venezuela</option>
    <option value="VN" <#TMPL_VN#> >Vietnam</option>
    <option value="VG" <#TMPL_VG#> >Virgin Islands (British)</option>
    <option value="VI" <#TMPL_VI#> >Virgin Islands (US)</option>
    <option value="WF" <#TMPL_WF#> >Wallis And Futuna Islands</option>
    <option value="YE" <#TMPL_YE#> >Yemen</option>
    <option value="YU" <#TMPL_YU#> >Yugoslavia</option>
    <option value="ZM" <#TMPL_ZM#> >Zambia</option>
    <option value="ZW" <#TMPL_ZW#> >Zimbabwe</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2">Tel</font>:</b></p></td>
    <td><input name="telnocc" size="2" maxlength="3" value="<#TMPL_telnocc#>"> - <input name="telno" size="9" maxlength="10" value="<#TMPL_telno#>">
    <font face="<#FONTFACE#>" size="1">(eg 001 - 2306370256)</font>
    </td>
    </tr>
    <tr>
    <td colspan="2"><font face="<#FONTFACE#>" size="2">Please enter your email address below for any correspondence with respect to this  transaction</font></td>
    </tr>
    <tr>
    <td>
    <p align="right"><b><font face="<#FONTFACE#>" size="2">Email
    Address</font>:</b></p></td>
    <td><input name="emailaddr" size="30" value="<#TMPL_emailaddr#>"  <#DISABLED#>  ></td>
    </tr>
    <tr>
    <td><input type="hidden" name="ADDRCP" value="N" ><input type="hidden" name="NAMECP" value="N" ><input type="hidden" name="CCCP"  value="N" ></td>
    <td></td>
    </tr>
    </table>
</center>
</div>
<div align="center">
    <center>
    <table border="0" cellpadding="0" cellspacing="0" width="80%">
    <TBODY>
    <tr>
    <td width="100%" bgcolor="#000000" height="1"><IMG height=1 src="/icici/images/1ptrans.gif" width=1></td>
    </tr>
    </center></TBODY></TABLE>
</div></CENTER>
<div align="center">
    <table border="0" cellpadding="5" cellspacing="0" width="80%">
    <tr>
    <td width="30%" height="1">
        <p align="left"><a href=""><IMG border=0 height=40 src="/icici/images/logo2.jpg" width=105></a></p></td>
    <td width="50%" height="1">
        <p align="left"><a target="_blank" href="http://sisainfosec.com/site/certificate/13835412899812182686"><IMG border=0 height=40 src="" width=105></a></p></td>
    <td width="10%" height="1">
        <p align="right"><#PARTNERLOGO#></p></td>
    <td width="10%" height="1">
        <p align="right"><#CONTINUEBUTTON#></p>
    </td>
    </tr>
    </table>
</div>
<p align="right">&nbsp;</p>
<#HIDDENVARIABLES#>
<input type=hidden name="BGCOLOR" value='<#BGCOLOR#>'>
<input type=hidden name="TEXTCOLOR" value='<#TEXTCOLOR#>'>
<input type=hidden name="FONTFACE" value='<#FONTFACE#>'>
<input type=hidden name="HIGHLIGHT_TEXT_COLOR" value='<#HIGHLIGHT_TEXT_COLOR#>'>
</form>

<script language="javascript">
var url;
url = location.href;

if (url.indexOf('sslbuy.net')!=-1)
{

    document.getElementById("p1").style.display = "block";
    document.getElementById("p2").style.display = "none";

}
if (url.indexOf('')!=-1)
{
    document.getElementById("p1").style.display = "none";
    document.getElementById("p2").style.display = "block";
}

</script>

</BODY></HTML>
