.headertd{background:#2379A5;text-valign: center;text-align: center;font-family:verdana,arial}
.headerfont{color:#ffffff;font-family:verdana,arial;font-size:10px;FONT-WEIGHT: bold}
.headerfont1{color:#ffffff;font-family:verdana,arial;font-size:10px;FONT-WEIGHT: bold}
.td1{background:#CCCCCC;text-valign: center;text-align: center;font-size:12px;font-family:arial,verdana,helvetica}
.td2{background:#B1B1B1;text-valign: center;text-align: center;font-size:12px;font-family:arial,verdana,helvetica}
.submit{FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #006699}
.textBoxes {FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
.search{font-family:verdana,arial;font-size:11px}
.Dtd1{background:#CCCCCC;text-valign: center;text-align: LEFT;font-size:12px;font-family:arial,verdana,helvetica}
.Dtd2{background:#B1B1B1;text-valign: center;text-align: LEFT;font-size:12px;font-family:arial,verdana,helvetica}
.Dtd3{background:#FFFFFF;text-valign: center;text-align: LEFT;font-size:12px;font-family:arial,verdana,helvetica}
.Dtd4{text-valign: center;text-align: LEFT;font-size:12px;font-family:arial,verdana,helvetica}
.addform{font-family:verdana,arial;font-size:12px}
.info{font-family:arial,verdana,helvetica;font-size:12px;COLOR: #ff0000;}
.high{font-family:arial,verdana,helvetica;font-size:12px;COLOR: #0000ff;}
.black{font-family:arial,verdana,helvetica;font-size:12px;COLOR: #000000;}
.star{color:#ff0000;font-family:verdana,arial;font-size:10px;}
